.select__container {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

.select__select {
	border: none;
	outline: none;
	padding: 0 0.5rem;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	background-color: #626262;
	color: #fff;
}

.select__label {
	color: #fff;
}
